<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<!-- @BeforeSuite -->
<suite name="TestAll">

    <test name="case1">



        <classes>
            <class name="ua.kiev.prog.week2.hotline.RegistrationAndSignInTest" />
        </classes>
    </test>

    <!--<test name="checkPrice">-->
        <!--<classes>-->
            <!--<class name="ua.kiev.prog.week2.hotline.CheckPriceInRangeTest" />-->
            <!--<class name="ua.kiev.prog.week2.hotline.BaseTest" />-->
        <!--</classes>-->
    <!--</test>-->

</suite>
        <!-- @AfterSuite -->